body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #dadada;
        font-size: 20px;
}

header {
    color: #ffffff;
    background-color: #9a1fe0;
    padding: 1em 0;
    margin-bottom: 10px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

input {
    text-align: center;
    width: 100px;
    padding: 8px 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    box-sizing: border-box;
}

button {
    background-color: #9a1fe0;
    color: #ffffff;
    padding: 10px 16px;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
}

button:hover {
  background-color: #6b15a0;
}

.estilo_resultado {
  margin-top: 15px;
  padding: 10px 15px;
  color: #020202; 
  font-size: 1.2rem;
}

.conteudo {
    width: 400px;
    height: auto;
    background-color: #ffffff;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.404);
    border-radius: 10px;
    border:#9a1fe0 solid 5px;

    line-height: 50px;
    margin: 0px auto;
    padding-bottom: 10px;

    gap: 15px;
    align-items: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;

}

.titulo_estilo {
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 0px;
    margin-bottom: 10px;
    color: #ffffff;
    background-color: #9a1fe0;
}