*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0; padding: 0;
    background-color: #e6e6e6;
}

header {
    background-color: #2F7DEB;
    color: rgb(255, 255, 255);
    padding: 10px;
    text-align: center;
    font-weight: bold;
    height: 250px;
    justify-content: center;
    align-items:center;
}

header h1 {
    margin: 60px;
    font-size: 6em;
}

h2 {
    margin: 10px;
    font-size: 3.5rem;
}

section {
    text-align: center;
    background: rgba(255, 255, 255, 0);
    padding: 15px;
    margin: 10px 0;
}
article{
    text-align: left;
    background: rgba(0, 0, 0, 0);
    padding: 15px;
    margin: 10px 0;
    border-radius: 0px;
    text-decoration: none;
}

/*========================== NAVEGAÇÃO ==========================  */

/*Menu hover*/
.menu-hover ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #2357a0;
}

.menu-hover li {
    margin-right: 20px;
}

.menu-hover a{
    text-decoration: none;
    padding: 15px;
    color: white;
    display: block;
}

.menu-hover a:hover{
    background-color: #4274bb;
    transition: 0.3s;
}

#inicio {
    text-align: center;
    margin: auto;
    max-width: 600px;
    padding: 20px;
}

.font-1 {
    font-size: 1.5rem;

}

.texto_left{
    float: left;
    font-size: 1.5em;
    text-align: left;
    max-width: 600px;
    padding: 20px;
    margin: 40px;
}

/*========================== CONTAINERS ==========================  */

.container_branco{
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px;
    width: 100%
}
.container_cinza{
    background-color: #acacac;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px;
    width: 100%
}
/*========================== IMAGENS ==========================  */

.imagem-left {
    float: left;
    width: 390px;
    height: auto;
}

.imagem-right {
    float: right;
    width: 390px;
    height: auto;
}

.img-logo {
    float: left;
    margin: 30px;
    width: 150px;
    height: auto;
}

.clear{
    clear: both;
}