*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0; padding: 0;
    background-color: #e6e6e6;
}

header {
    background-color: #2F7DEB;
    color: rgb(255, 255, 255);
    padding: 10px;
    text-align: center;
    font-weight: bold;
    height: 250px;
    justify-content: center;
    align-items:center;
}

header h1 {
    margin: 60px;
    font-size: 6em;
}

h2 {
    margin: 10px;
    font-size: 3.5rem;
}

section {
    text-align: center;
    background: rgba(255, 255, 255, 0);
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
}


#inicio {
    text-align: center;
    margin: auto;
    max-width: 600px;
    padding: 20px;
}

.font-1 {
    font-size: 1.5rem;

}
/*========================== NAVEGAÇÃO ==========================  */

/*Menu hover*/
.menu-hover ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #2357a0;
}

.menu-hover li {
    margin-right: 20px;
}

.menu-hover a{
    text-decoration: none;
    padding: 15px;
    color: white;
    display: block;
}

.menu-hover a:hover{
    background-color: #4274bb;
    transition: background-color 0.3s;
}


.img-logo {
    float: left;
    margin: 30px;
    width: 150px;
    height: auto;
}

.clear{
    clear: both;
}