*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0; padding: 0;
    background-color: #c0c0c0;
}

header {
    background-color: #2F7DEB;
    color: rgb(255, 255, 255);
    padding: 10px;
    text-align: center;
    font-weight: bold;
    height: 250px;
}

header h1 {
    margin: 60px;
    font-size: 6em;
}

h2 {
    margin: 10px;
    font-size: 3.5rem;
}

section {
    text-align: left;
    background: rgba(255, 255, 255, 0);
    padding: 15px;
    margin: 10px 0;
    font-size: 1.2em;
}
article{
    text-align: left;
    background: rgba(0, 0, 0, 0);
    padding: 15px;
    margin: 10px 0;
    border-radius: 0px;
    text-decoration: none;
}

/*Define o estilo da tabela*/
table {
    width: 80%;
    /*Centraliza a tabela na pagina*/
    margin: 20px auto;

    background-color: white;
    /*ADICIONA SOMBRA Á TABELA*/
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

/*========================== NAVEGAÇÃO ==========================  */

/*Menu hover*/
.menu-hover ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #2357a0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.336);
}

.menu-hover li {
    margin-right: 20px;
}

.menu-hover a{
    text-decoration: none;
    padding: 15px;
    color: white;
    display: block;
}

.menu-hover a:hover{
    background-color: #4274bb;
    transition: 0.3s;
}

#inicio {
    text-align: center;
    margin: auto;
    max-width: 600px;
    padding: 30px;
}

.font-1 {
    font-size: 1.5rem;

}

/*========================== TEXTO ==========================  */

.texto_left{
    float: left;
    font-size: 1em;
    text-align: left;
    max-width: 500px;
    padding: 20px;
    margin: 40px;
}

.texto_right{
    float: right;
    font-size: 1em;
    text-align: left;
    max-width: 500px;
    padding: 20px;
    margin: 40px;
}

.info-projeto {
    width: 60%;
    padding: 35px;
    text-align: left;
}

/*========================== CONTAINERS ==========================  */

.container{
    background-color: #ffffff;
    width: 70%;
    padding: 30px;
    margin: auto;
}

.form-container {
    width: 92%;
    margin: 40px;
    padding: 20px;
    background: #d4d4d4;
    border-radius: 5px;
    text-align: center;
}

.container-projeto {
    display: flex;
    align-items: center;
    background-color:rgb(226, 226, 226);
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container-logo {
    width: 70%;
    padding: 10px 0;
    margin: auto;
    text-align: center;
    background-color: #fffefe;
  }
  
  .container-comentarios {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background: #cfcde7;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
/*========================== IMAGENS ==========================  */

.imagem-left {
    float: left;
    width: 300px;
    height: auto;
    border: 3px solid #000000;
}

.imagem-right {
    float: right;
    width: 300px;
    height: auto;
    border: 3px solid #000000;
}

.imagem-center{
    float: center;
    width: 450px;
    height: auto;
    border: 3px solid #000000;
}

.img-logo {
    float: left;
    margin: 30px;
    width: 150px;
    height: auto;
}

.img-cliente {
    float: center;
    margin: 30px;
    width: 155px;
    height: auto;
    border: 3px solid #000000;
}

.imagem-projetos {
    width: 40%;
    max-width: 350px;
    height: auto;
    border-radius: 10px;
}
/*========================== TABELA ==========================  */

.tabela {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .tabela th, .tabela td {
    border: 1px solid #000000;
    padding: 10px;
    text-align: left;
  }
  
  .tabela th {
    background-color: #8f8f8f;
    font-weight: bold;
  }
  
  .tabela tr:nth-child(even) {
    background-color: #dfdfdf;
  }
  

/*========================== VOLTAR PRO TOPO ==========================  */

.btn-voltar{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.btn-voltar:hover {
    background-color: #6d6d6d;
}


/*========================== PARTE COMENTARIOS ==========================  */

.comentario {
display: flex;
align-items: center;
background: #e2e2e2;
padding: 15px;
border-radius: 8px;
margin-bottom: 10px;
}

.avatar {
width: 50px;
height: 50px;
border-radius: 50%;
margin-right: 15px;
}

.conteudo {
flex: 1;
}

.conteudo h3 {
margin: 0;
font-size: 16px;
}

.conteudo p {
margin: 5px 0;
font-size: 14px;
color: #333;
}

.formulario-comentario {
margin-top: 15px;
}

.formulario-comentario label {
display: block;
font-weight: bold;
margin-top: 10px;
}

.formulario-comentario input,
.formulario-comentario textarea {
width: 100%;
padding: 10px;
border: 1px solid #ddd;
border-radius: 5px;
resize: vertical;
}

button {
background: #007bff;
color: white;
border: none;
padding: 10px 15px;
cursor: pointer;
border-radius: 5px;
margin-top: 10px;
}

button:hover {
background: #0056b3;
}

.clear{
    clear: both;
}

footer {
    background-color: #2F7DEB;
    color: white;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 20px;
}