body {
    font-family: Arial,sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    /*Vai ocupar a altura da tela*/
    height: 100vh;
}

/*o container que envolve a imagem*/
.container{
    text-align: center;
    width: 80%;
    /*limite o tamanho maximo do container*/
    max-width: 1000px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}


h1{
    font-size: 2.5;
    color: #333;
}

p{
    font-size: 1,1em;
    color: #666;
    margin-bottom: 20px;
}

/*estilo para o container imagem*/
.imagem-container{
    /*o container da imagem ocupa 100% da largura do
    container pai*/
    width: 100%;
    /*altura fixa para o container da imagem*/
    height: 300px;
    /*oculta qualquer parte da imagem que ultrapasse os
    limites do container*/
    overflow: hidden;
}

/*estilos para a imagem responsiva*/
img {
    /*a imagem não vai ultrapassar a
    largura do container*/
    max-width: 100%;
    /*a altura se ajusta automaticamente para
    manter a proporção*/
    height: auto;
    /*faz com que a imagem preencha o container,cortando
    onde necessario*/
    object-fit: cover;
}