body{
    font-family: Arial, sans-serif;
    margin: 0; padding: 0;
    background-color: #794141;
}

header{
    background-color: #4c834a;
    color: rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
}

nav{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 10px;
    display: flex;
    justify-content: center;
}

nav a{color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 10px 20px; margin: 0 10px;
    border-radius: 5px;
}

nav a:hover{
    background-color: #a2a3a2;
}


main{
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
}

section{
    color: rgb(0, 0, 0);
    background-color: #c98e8c;
    padding: 20px;
    border-radius: 8px;
    width: 48%;
}

footer{
    
    background-color: #555555;
    color: white;
    text-align: center;
    padding: 10px; margin-top: 20px;
}

.imagem {
    width: 300px; /* Ajuste o tamanho da imagem */
    height: auto;
}
